.k-alert {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  transition: opacity .2s;
  &.is-center {
    justify-content: center;
  }
  &.k-alert--info {
    color: #909399;
    background-color: #f4f4f5;
  }
  &.k-alert--success {
    color: #67c23a;
    background-color: #f0f9eb;
  }
  &.k-alert--warning {
    color: #e6a23c;
    background-color: #fdf6ec;
  }
  &.k-alert--error {
    color: #f56c6c;
    background-color: #fef0f0;
  }
  .k-alert__icon {
    &.is-bold {
      font-size: 18px;
    }
  }
  .k-alert__content {
    padding: 0 8px;
  }
  .k-alert__title {
    &.is-bold {
      font-weight: 700;
    }
  }
  .k-alert__description {
    margin: 5px 0 0;
    font-size: 12px;
  }
  .k-alert__closebtn {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: #c0c4cc;
    font-size: 12px;
  }
}

.k-alert-fade-enter,
.k-alert-fade-leave-active {
  opacity: 0;
}
