@import "./common/popup";

@dialog-prefix-cls: ~"@{--css-prefix}dialog";

.@{dialog-prefix-cls} {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  &__wrapper {
    position: relative;
    margin: 200px auto auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 200px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .2);
  }
  &__header {
    display: flex;
  }
  &__title {
    flex: 1;
  }
  &__close {
    cursor: pointer;
    &:hover {
      color: #5c6b77;
    }
  }
  &__body {
    flex: 1;
    padding: 10px;
  }
  &__footer {
    text-align: right;
  }
}
