@import "./mixins/color";
@message-prefix-cls: ~"@{--css-prefix}message";

.@{message-prefix-cls} {
  position: fixed;
  top: 15px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  pointer-events: none;
  &__item {
    .style-color-mixin(1);

    position: relative;
    display: block;
    text-align: center;
    transition: opacity 0.3s, transform .4s, top 0.4s;

    &--{
      background-color: @--color-info-lighter;
    }

    &__wrap {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 8px 14px;
      margin-top: 10px;
      min-width: 200px;
      max-width: 600px;
      border-radius: 4px;
      box-shadow: 0 1px 6px rgba(0,0,0,.2);
      pointer-events: all;
    }
    &__icon {
      font-size: 16px;
    }
    &__content {
      width: auto;
      flex: 1;
      padding: 0 6px;
      word-wrap: break-word;
      font-size: 14px;
      text-align: left;
    }

    &__close {
      cursor: pointer;
      color: #c0c4cc;
      font-size: 12px;
    }
  }
  &-fade-enter,
  &-fade-leave-active {
    opacity: 0;
    margin-top: -56px;
    transform: translate3d(0, -100%, 0);
  }
}
