.DS_Store
node_modules

# build file
/examples
/docs
/build

# local env files
.env.local
.env.*.local
coverage

# Log files
yarn.lock
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# all . start file
*.*
