.extra-class {
  &:before {
    right: 1.6em !important;
  }
}

  // icon page style
.theme-container.icon-components-class {
  .page .theme-default-content {
    width:100%;
    max-width: 90%;
  }
}
