.extra-class {
  &:before {
    right: 1.6em !important;
  }
}

  // icon page style
.theme-container.icon-components-class {
  .page .theme-default-content {
    width:100%;
    max-width: 90%;
  }
}
  // alert page style
.theme-container.alert-components-class {
  .page {
    .k-alert {
      margin: 20px 0 0;
      &:first-child {
        margin: 0;
      }
    }
  }
}
