
// Prefix
@--css-prefix: k-;

// Color
@--color-white: #FFF;
@--color-primary: #409EFF;
@--color-info: #909399;
@--color-success: #67C23A;
@--color-warning: #E6A23C;
@--color-error: #F56C6C;
@--color-black: #000;
@--color-bg-transparent: rgba(0, 0, 0, .5);
@--color-lighter: #EBEEF5;
// font color
@--color-font-gray: #606266;
@--color-font-light-gray: #909399;
@--color-font-default: #DCDFE6;
@--color-font-placeholder: #C0C4CC;
// size
@--font-size-max: 18px;
@--font-size-medium: 16px;
@--font-size-base: 14px;
@--font-size-small: 13px;
@--font-size-mini: 12px;
@--font-weight-primary: 500;

@--color-primary-light: mix(@--color-white, @--color-primary, 80%);
@--color-info-light: mix(@--color-white, @--color-info, 80%);
@--color-success-light: mix(@--color-white, @--color-success, 80%);
@--color-warning-light: mix(@--color-white, @--color-warning, 80%);
@--color-error-light: mix(@--color-white, @--color-error, 80%);

@--color-primary-lighter: mix(@--color-white, @--color-primary, 90%);
@--color-info-lighter: mix(@--color-white, @--color-info, 90%);
@--color-success-lighter: mix(@--color-white, @--color-success, 90%);
@--color-warning-lighter: mix(@--color-white, @--color-warning, 90%);
@--color-error-lighter: mix(@--color-white, @--color-error, 90%);

@--color-primary-light-1: mix(@--color-white, @--color-primary, 10%);
@--color-primary-light-2: mix(@--color-white, @--color-primary, 20%);
@--color-primary-light-3: mix(@--color-white, @--color-primary, 30%);
@--color-primary-light-4: mix(@--color-white, @--color-primary, 40%);
@--color-primary-light-5: mix(@--color-white, @--color-primary, 50%);
@--color-primary-light-6: mix(@--color-white, @--color-primary, 60%);
@--color-primary-light-7: mix(@--color-white, @--color-primary, 70%);
@--color-primary-light-8: mix(@--color-white, @--color-primary, 80%);
@--color-primary-light-9: mix(@--color-white, @--color-primary, 90%);

//// ZIndex
@--index-normal: 1;
@--index-top: 1000;
@--index-bottom: 2000;

//// Border
@--border-color-base: #DCDFE6;
@--border-color-light: #E4E7ED;
@--border-color-lighter: #EBEEF5;
@--border-color-extra-light: #F2F6FC;
@--border-width-base: 1px;
@--border-style-base: solid;
@--border-radius-base: 4px;
@--border-radius-small: 2px;
@--border-base: @--border-width-base @--border-style-base @--border-color-base;
// disabled
@--checkbox-disabled-border-color: @--border-color-base;
@--checkbox-disabled-input-fill: #edf2fc;
@--checkbox-disabled-icon-color: @--color-font-placeholder;
@--checkbox-disabled-checked-input-fill: @--border-color-extra-light;
@--checkbox-disabled-checked-input-border-color: @--border-color-base;
@--checkbox-disabled-checked-icon-color: @--color-font-placeholder;
// checked
@--checkbox-checked-font-color: @--color-primary;
@--checkbox-checked-input-border-color: @--color-primary;
@--checkbox-checked-background-color: @--color-primary;
@--checkbox-checked-icon-color: @--color-white;

//// Button
/// size
// default
@--button-font-size: @--font-size-base;
@--button-font-weight: @--font-weight-primary;
@--button-padding-vertical: 12px;
@--button-padding-horizontal: 20px;
@--button-border-radius: @--border-radius-base;
// medium
@--button-medium-font-size: @--font-size-medium;
@--button-medium-padding-vertical: 10px;
@--button-medium-padding-horizontal: 20px;
@--button-medium-padding-horizontal: 20px;
@--button-medium-border-radius: @--border-radius-base;
// small
@--button-small-font-size: @--font-size-small;
@--button-small-padding-vertical: 9px;
@--button-small-padding-horizontal: 15px;
@--button-small-border-radius: @--border-radius-base - 1;
// mini
@--button-mini-font-size: @--font-size-mini;
@--button-mini-padding-vertical: 7px;
@--button-mini-padding-horizontal: 15px;
@--button-mini-border-radius: @--border-radius-base - 1;

/// color
// default
@--button-default-color: @--color-font-gray;
@--button-default-border: @--color-font-default;
@--button-default-background: @--color-white;
// primary
@--button-primary-color: @--color-white;
@--button-primary-border: @--color-primary;
@--button-primary-background: @--color-primary;
// success
@--button-success-color: @--color-white;
@--button-success-border: @--color-success;
@--button-success-background: @--color-success;
// warning
@--button-warning-color: @--color-white;
@--button-warning-border: @--color-warning;
@--button-warning-background: @--color-warning;
// error
@--button-error-color: @--color-white;
@--button-error-border: @--color-error;
@--button-error-background: @--color-error;
// disable
@--button-disable-color: @--color-font-placeholder;
@--button-disable-border: @--color-lighter;
@--button-disable-background: @--color-white;
@--button-hover-tint-percent: 20%;
@--button-active-shade-percent: 10%;

//// Checkbox
@--checkbox-font-size: @--font-size-base;
@--checkbox-font-color: @--color-font-gray;
@--checkbox-font-weight: @--font-weight-primary;
@--checkbox-input-weight: 14px;
@--checkbox-input-height: 14px;
@--checkbox-border-radius: @--border-radius-small;
@--checkbox-background-color: @--color-white;
@--checkbox-input-border: @--border-base;
